.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 500px;
  width: 100%;

  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 10px;
}
